.to-login {
    background: pink;
    text-decoration: none;
    margin-top: 15px;
    display: block;
    width: 70px;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
    margin-left: 10px;
    color: black;
    font-size: 14;
}

.login-signup {
    display: flex;
    width: 200px;

}

.to-signup {
    background: white;
    text-decoration: none;
    margin-top: 15px;
    display: block;
    width: 85px;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
    margin-left: 10px;
    color: black;

}

