.navbar-container {
    display: flex;
    background: red;
    height: 55px;
    justify-content: center;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    min-width: 800px;
}

.login-nav {
    text-decoration: none;
    color: white;
    font-family: arial;
    font-weight: bold;
    font-size: 13;
    margin-right: 10px;
    border: 1px solid #c41314; 
    width: 50px;
    padding: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    height: 18px;
}

.signup-nav {
    text-decoration: none;
    background: white;
    color: black;
    width: 65px;
    padding: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    font-family: arial;
    font-weight: bold;
    font-size: 13;
    margin-right: 10px;
    height: 18px;
}

.login-signup-nav {
    display: flex;
    width: 190px;
}

.logout-container {
    display: flex;
    justify-content: center;
}

.logout-button {
    margin-top: 10px;
    height: 35px;
    border-radius: 3px;
    background: white;
    border: 1px solid white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13;
    padding-left: 10px;
    padding-right: 10px;
}

.logout-button:hover {
    cursor: pointer;
}