// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-form-header {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0 0;
}

.login-form-container {
    margin: auto;
    width: 300px;
    text-align: center;
}

.signup-link {
    text-decoration: none;
}

.switcher {
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.session-submit {
    color: white;
    background: red;
    border: 1px solid red;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
    height: 40px;
}

.session-submit:hover {
    background: lightcoral;
    border: 1px solid lightcoral;
    transition: background 100ms;
    cursor: pointer;
}

.login-input {
    padding: 5px 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
    border: 1px solid grey;
    width: 95%;
    height: 25px;
}

.login-image {
    margin: auto;
}

.error{
    display: block;
    background: pink;
    width: 500px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.errors{
    display: flex;
    align-content: center;
    justify-content: center;
}

.login-page {
    margin: auto;
    display: flex;
    justify-content: flex-start;
    max-width: 1100px;
    height: 600px;
}

.demo-button {
    width: 100%;
    height: 30px;
    background: lightgray;
    border: 1px solid lightgray;
    margin-top: 20px;
}

.demo-button:hover {
    cursor: pointer;
}

.or-line{
    margin-top: 20px;
    font: inherit;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    border: none;
    border-top: 1px solid #ccc;
    text-align: center;
    max-height: 10px;
}

.yelp-header {
     display: block;
     background: red;
     height: 55px;
 }

 .footer-div {
     display: flex;
     margin: auto;
     justify-content: center;
     margin-top: 150px; 
 }

 .logo-image {
    max-width: 50px;
    max-height: 50px;
 }

 .kelp-logo {
     display: flex;
     justify-content: center;
     align-content: center;
     text-decoration: none;
 }

 .logo-text {
     max-width: 80;
     max-height: 50px;
     margin-top: 5px;
 }