.star-checked-5 {
    background: red;
    color: white;
    margin-right: 3px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
    font-size: 16px;
}
.star-checked-4 {
    background: orangered;
    color: white;
    margin-right: 3px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
    font-size: 16px;
}
.star-checked-3 {
    background: orange;
    color: white;
    margin-right: 3px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
    font-size: 16px;
}
.star-checked-2 {
    background: rgb(224, 172, 73);
    color: white;
    margin-right: 3px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
    font-size: 16px;
}
.star-checked-1 {
    background: lightsalmon;
    color: white;
    margin-right: 3px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
    font-size: 16px;
}


.star-unchecked {
    margin-right: 3px;
    background: lightgray;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
    font-size: 16px;
}
.head-star-checked-5 {
    background: red;
    color: white;
    margin-right: 3px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
    font-size: 24px;
}
.head-star-checked-4 {
    background: orangered;
    color: white;
    margin-right: 3px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
    font-size: 24px;
}
.head-star-checked-3 {
    background: orange;
    color: white;
    margin-right: 3px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
    font-size: 24px;
}
.head-star-checked-2 {
    background: rgb(224, 172, 73);
    color: white;
    margin-right: 3px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
    font-size: 24px;
}
.head-star-checked-1 {
    background: lightsalmon;
    color: white;
    margin-right: 3px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
    font-size: 24px;
}


.head-star-unchecked {
    margin-right: 3px;
    background: lightgray;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
    font-size: 24px;
}

.head-star-half-checked-5 {
    background: linear-gradient(90deg, red 50%, lightgray 50%);
    color: white;
    margin-right: 3px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
    font-size: 24px;
    
}
.head-star-half-checked-4 {
    background: linear-gradient(90deg, orangered 50%, lightgray 50%);
    color: white;
    margin-right: 3px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
    font-size: 24px;
    
}
.head-star-half-checked-3 {
    background: linear-gradient(90deg, orange 50%, lightgray 50%);
    color: white;
    margin-right: 3px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
    font-size: 24px;
    
}
.head-star-half-checked-2 {
    background: linear-gradient(90deg, rgb(224, 172, 73) 50%, lightgray 50%);
    color: white;
    margin-right: 3px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
    font-size: 24px;
    
}
.head-star-half-checked-1 {
    background: linear-gradient(90deg, lightsalmon 50%, lightgray 50%);
    color: white;
    margin-right: 3px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
    font-size: 24px;
    
}